---
import { Icon } from "astro-icon/components";

export interface Props {
  icon: string;
  text: string;
  route: string;
  active: boolean;
}

const { icon, text, route, active = true } = Astro.props;
---

<a
  class:list={[
    "flex content-center items-center gap-2",
    "-ml-2 px-4 py-2",
    !active && "opacity-40",
  ]}
  href={route}
>
  <Icon name={icon} class="inline-block w-8 text-3xl" />
  <span class="text-lg font-bold">{text}</span>
</a>
