---
import BaseLayout from "src/layouts/BaseLayout.astro";

import IntroSettings from "@components/IntroSettings.svelte";
---

<BaseLayout title="TWONy-micro - Introduction">
  <h2 class="pageheading">Introduction</h2>
  <p class="pagesubline">
    Welcome to TWONy-micro, an interactive demonstration that shows how social
    media algorithms affect online conversations. Watch as virtual agents
    interact with each other, creating posts and replies while different ranking
    systems influence what content appears at the top of your feed. This
    simulation helps visualize how algorithmic choices shape the tone and
    direction of online discourse.
  </p>

  <hr class="divider" />

  <h3 class="sectionheading">Language Model Hosting</h3>
  <p class="sectionsubline">
    TODO: explain, why user has to put in a API to use the simulation: free
    website, non profit, academic and educational use
  </p>

  <IntroSettings client:load />

  <p class="sectionsubline">
    TODO: explain that the user can after entering his key continue to generate
    a feed and play with the settings
  </p>
</BaseLayout>
