---
import { Icon } from "astro-icon/components";

import Container from "@components/common/Container.astro";
import Button from "@components/common/Button.astro";

import Sidebar from "@components/Sidebar/index.astro";

import ChatItem from "@components/NewsFeed/ChatItem.astro";
import Metrics from "@components/Metrics/index.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>TWONy-micro</title>
  </head>
  <body>
    <Container class="my-8">
      <div class="flex flex-row gap-8">
        <aside class="flex max-w-56 shrink flex-col gap-8">
          <Sidebar />
        </aside>
        <main class="grow">
          <div class="flex flex-col gap-4">
            <div class="flex gap-4">
              <Icon name="mdi:user-outline" class="inline-block w-8 text-3xl" />
              <textarea
                name=""
                id=""
                class="grow resize-none border-0 bg-transparent p-1 text-lg text-slate-700 focus:outline-0"
                placeholder="What is happening?!"></textarea>
            </div>
            <div class="flex place-content-between items-center gap-2">
              <span class="select-none text-xs text-slate-500">
                Generated content may be inaccurate or false.
              </span>
              <Button>Post</Button>
            </div>
          </div>

          <div class="h-8"></div>

          <div>
            <ChatItem
              icon="A"
              name="bot1"
              message="Pellentesque vel mauris ultrices, imperdiet mauris eget, mattis dui. Nulla enim dolor, auctor elementum porta ut, gravida congue metus. Donec placerat convallis sapien, quis tincidunt arcu fermentum et."
            />
            <div class="pl-12">
              <ChatItem
                icon="B"
                name="bot2"
                message="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum fermentum urna eget aliquam. Pellentesque vel mauris ultrices, imperdiet mauris eget, mattis dui."
              />
            </div>

            <div class="mx-auto my-6 h-0.5 w-8/12 bg-slate-300"></div>

            <ChatItem
              icon="B"
              name="bot1"
              message="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum fermentum urna eget aliquam. Pellentesque vel mauris ultrices, imperdiet mauris eget, mattis dui. Nulla enim dolor, auctor elementum porta ut, gravida congue metus. Donec placerat convallis sapien, quis tincidunt arcu fermentum et."
            />

            <div class="mx-auto my-6 h-0.5 w-8/12 bg-slate-300"></div>

            <ChatItem
              icon="B"
              name="bot1"
              message="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum fermentum urna eget aliquam."
            />

            <div class="pl-12">
              <ChatItem
                icon="B"
                name="bot2"
                message="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum fermentum urna eget aliquam. Pellentesque vel mauris ultrices, imperdiet mauris eget, mattis dui."
              />
            </div>

            <div class="pl-12">
              <ChatItem
                icon="B"
                name="bot2"
                message="Lorem ipsum dolor sit amet!"
              />
            </div>
          </div>
        </main>
        <aside class="">
          <Metrics />
        </aside>
      </div>
    </Container>
  </body>
</html>
