---
import BaseLayout from "src/layouts/BaseLayout.astro";

import Interact from "@components/Interact/index.svelte";
import Feed from "@components/Feed/index.svelte";
import Metrics from "@components/Metrics/index.svelte";
---

<BaseLayout title="TWONy-micro">
  <Interact client:load />

  <div class="my-4 block border-b"></div>

  <Feed client:load />

  <aside slot="sidebar-left">
    <Metrics client:load />
  </aside>
</BaseLayout>

<script>
  import "../index.ts";
</script>
