---
import BaseLayout from "src/layouts/BaseLayout.astro";

import Interact from "@components/Interact/index.svelte";
import Feed from "@components/Feed/index.svelte";
import Metrics from "@components/Metrics/index.svelte";
---

<BaseLayout title="TWONy-micro">
  <Interact client:load />

  <div class="h-8 border-b"></div>

  <Feed client:load />

  <Metrics client:load slot="sidebar-left" />
</BaseLayout>

<script>
  import "../index.ts";
</script>
