---
import BaseLayout from "src/layouts/BaseLayout.astro";
---

<BaseLayout title="TWONy-micro - Settings">
  <h2 class="mb-8 text-4xl">Settings</h2>

  Recommender system: chronological vs. emotion-based (higher emotion is better) <br
  />
  Emotion weighting (negative values allowed): positive and negative weights
</BaseLayout>
