---

---

<h1 class="mb-1 text-4xl">
  <span class="font-bold lowercase"
    >T<span class="text-blue-500">W</span>ON</span
  >y
  <span class="text-2xl text-slate-600">(micro)</span>
</h1>
<h2 class="text-xs text-slate-600">
  A Micro-Simulation of the Impact of <br>
  Social Network Mechanics on the <br>
  Emotionality of Online Discourse
</h2>
