---
import { Icon } from "astro-icon/components";
---

<footer class="text-sm leading-relaxed text-slate-500">
  <a href="#">Imprint</a> | <a href="#">Data Privacy</a><br />
  <a href="https://www.twon-project.eu/" target="_blank"
    ><Icon name="mdi:web" class="-mt-0.5 inline text-base" /> twon Project (EU-Horizon
    2020)</a
  ><br />
  <a href="https://linkedin.com/in/simon-muenker" target="_blank"
    ><Icon name="mdi:linkedin" class="-mt-0.5 inline text-base" /> Simon Münker</a
  >
  <span class="inline-block w-0.5"></span>
  <a href="https:/linkedin.com/in/achim-rettinger" target="_blank"
    ><Icon name="mdi:linkedin" class="-mt-0.5 inline text-base" /> Achim Rettinger</a
  >
</footer>
<footer class="text-xs text-slate-500">
  This work is fully supported by twon (project number 101095095), a research
  project funded by the European Union under the Horizon framework
  (HORIZON-CL2-022-DEMOCRACY-01-07).
</footer>
