---
import { PAGES } from "@_constants";

import Branding from "./Branding.astro";
import Footer from "./Footer.astro";
import MenuItem from "./MenuItem.astro";
---

<header>
  <Branding />
</header>
<nav>
  <ul class="space-y-2">
    {
      PAGES.map((item) => (
        <li class="block">
          <MenuItem
            icon={item.icon}
            text={item.text}
            route={item.route}
            active={item.active}
          />
        </li>
      ))
    }
  </ul>
</nav>
<div class="h-48"></div>
<Footer />
