---
import Branding from "./Branding.astro";
import Footer from "./Footer.astro";
import MenuItem from "./MenuItem.astro";

const menuItems = [
  { icon: "mdi:message-text-fast", text: "News Feed", route: "/TWONy-micro" },
  { icon: "mdi:slider", text: "Settings", route: "/TWONy-micro/settings" },
  {
    icon: "mdi:information-slab-box-outline",
    text: "About twon",
    route: "/TWONy-micro/about",
  },
];
---

<header>
  <Branding />
</header>
<nav>
  <ul class="space-y-2">
    {
      menuItems.map((item) => (
        <li class="inline-block">
          <MenuItem icon={item.icon} text={item.text} route={item.route} />
        </li>
      ))
    }
  </ul>
</nav>
<div class="h-48"></div>
<Footer />
