---
import "@styles/global.css";

import Branding from "@layouts/partials/Branding.astro";
import Menu from "@layouts/partials/Menu.astro";
import Footer from "@layouts/partials/Footer.astro";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <div class="mx-auto max-w-screen-2xl px-6 py-16 md:px-8">
      <div class="grid grid-cols-12 gap-16">
        <div class="relative col-span-3 hidden lg:block">
          <aside class="sticky top-4 flex flex-col gap-12">
            <header>
              <Branding />
            </header>
            <div class="rounded-xl bg-sky-50 px-3 py-3">
              <Menu />
            </div>
            <Footer />
          </aside>
        </div>
        <main class="col-span-12 lg:col-span-9 xl:col-span-6">
          <slot />
        </main>
        <aside class="col-span-3 hidden xl:block">
          <slot name="sidebar-left" />
        </aside>
      </div>
    </div>
  </body>
</html>
