---
import "@styles/global.css";

import Branding from "@layouts/partials/Branding.astro";
import Menu from "@layouts/partials/Menu.astro";
import Footer from "@layouts/partials/Footer.astro";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <div class="mx-auto max-w-screen-2xl px-6 py-16 md:px-8">
      <div class="grid grid-cols-12 gap-12">
        <aside class="col-span-3 hidden flex-col gap-6 md:flex">
          <header>
            <Branding />
          </header>
          <Menu />
          <div class="h-48"></div>
          <Footer />
        </aside>
        <main class="col-span-12 md:col-span-6">
          <slot />
        </main>
        <aside class="col-span-3 hidden md:block">
          <slot name="sidebar-left" />
        </aside>
      </div>
    </div>
  </body>
</html>
