---
export interface Props {
  icon: string;
  name: string;
  message: string;
}

const { icon, name, message } = Astro.props;
---

<div class="flex gap-4 p-3">
  <div class="p-1 text-center text-3xl">
    {icon}
  </div>
  <div class="grow">
    <span class="mr-0.5 font-extrabold text-black">{name}</span>
    <span class="text-sm text-slate-500">@{name}</span>
    <br />
    <span>{message}</span>
    <div
      class="mt-2 flex select-none place-content-between items-center gap-2 text-xs text-slate-500"
    >
      <span>positivity: 0.2</span>
      <span>negativity: 0.2</span>
      <span class="cursor-pointer font-bold underline">reply</span>
    </div>
  </div>
</div>
